<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A person's hand touching a rock column - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/south-puyallup-column-with-hand.jpg"></img>
        </div>
        <h1>A person's hand touching a rock column</h1>
        <div id="img-description">
            
                <p>Each side of these rock columns is bigger than your hand!</p>
            
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>