<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Butterfly - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/panhandle-gap-butterfly.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Butterfly</h1>
            <div id="img-description">
                
                    <p>This is a blue butterfly resting on the trail.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Visited:</strong> September 23, 2022 at 1:20 PM</p>
                <p><strong>Location:</strong> White River Entrance/Panhandle Gap</p>
                
                <img class="map" src="../../maps/panhandle-gap-butterfly.jpg_map.png"></img>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>