<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sarvant Glaciers - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/panhandle-gap-sarvant-glaciers.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Sarvant Glaciers</h1>
            <div id="img-description">
                
                    <p>The Sarvant Glaciers are a chain of very small glaciers. Even in September, just before the winter snow begins, there is still some snow and ice.</p>
                
                    <p>You can see the blue lake from where the ice has melted. If you look very closely, you might be able to see S-shaped ski tracks from skiers who carried their skis up the glacier and skied down.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Visited:</strong> September 23, 2022 at 11:50 AM</p>
                <p><strong>Location:</strong> White River Entrance/Panhandle Gap</p>
                
                <img class="map" src="../../maps/panhandle-gap-sarvant-glaciers.jpg_map.png"></img>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>