<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sarvant Glaciers - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/panhandle-gap-sarvant-glaciers.jpg"></img>
        </div>
        <h1>Sarvant Glaciers</h1>
        <div id="img-description">
            
                <p>The Sarvant Glaciers are a chain of very small glaciers. Even in September, just before the winter snow begins, there is still some snow and ice.</p>
            
                <p>You can see the blue lake from where the ice has melted. If you look very closely, you might be able to see S-shaped ski tracks from skiers who carried their skis up the glacier and skied down.</p>
            
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>