<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nisqually Glacier and Nisqually River - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/paradise-nisqually-river-headwaters.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Nisqually Glacier and Nisqually River</h1>
            <div id="img-description">
                
                    <p>You can see Nisqually Glacier melting, and the beginning of Nisqually River.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Paradise</p>
                <p><strong>Visited:</strong> September 17, 2022 at 8:08 AM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>