<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Looking down the Nisqually River valley - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/paradise-nisqually-river-downstream-view-and-bridge.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Looking down the Nisqually River valley</h1>
            <div id="img-description">
                
                    <p>You can see the path of Nisqually River from just below the glacier down to where it cuts through the forest.</p>
                
                    <p>This valley was originally carved by an enormous ancient glacier. There is still a glacier above here, but it's much smaller. Today, the river runs through the bottom of the valley.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Paradise</p>
                <p><strong>Visited:</strong> September 17, 2022 at 9:18 AM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>