<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rock shelter for hikers - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/indian-bar-shelter.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Rock shelter for hikers</h1>
            <div id="img-description">
                
                    <p>This shelter was built more than 80 years ago. It lets a group of hikers on an overnight trip stay safe from wind and rain. This is important because tents can damage the fragile meadow.</p>
                
                    <p>We believe that it is important to preserve important old structures like this one. This shelter was added to the National Register of Historic Places more than 30 years ago.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Cowlitz Divide/Wonderland Trail</p>
                <p><strong>Visited:</strong> September 5, 2022 at 10:26 AM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>