<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Suspension bridge for hikers - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/carbon-river-suspension-bridge-deck.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Suspension bridge for hikers</h1>
            <div id="img-description">
                
                    <p>This suspension bridge allows hikers to cross over a river. This part of the river is too wide for a log bridge.</p>
                
                    <p>A tower on both sides of the river holds up strong steel cables, and hikers walk on a bridge surface that is hanging from those cables. It shakes and bounces very excitingly when you walk on it!</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Carbon River Trail/Wonderland Trail</p>
                <p><strong>Visited:</strong> August 15, 2022 at 1:37 PM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>