<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nisqually River - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/nisqually-riverbed.jpg"></img>
        </div>
        <h1>Nisqually River</h1>
        <div id="img-description">
            
                <p>This is Nisqually River. It begins higher up on Mt. Rainier where the end of Nisqually Glacier melts.</p>
            
                <p>You can see the large rocks the river has pushed. You can also see where the river has eroded the land on both sides.</p>
            
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>