<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gate and rock slide - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/tahoma-rock-slide-and-gate.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Gate and rock slide</h1>
            <div id="img-description">
                
                    <p>On Westside Road, there is a gate to keep cars out.</p>
                
                    <p>Behind the gate is a rock slide. Erosion from rain and wind made part of the hill weak. Some of the rocks that fell on the road are bigger than cars!</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Visited:</strong> September 3, 2022 at 7:15 AM</p>
                <p><strong>Location:</strong> Westside Road</p>
                
                <img class="map" src="../../maps/tahoma-rock-slide-and-gate.jpg_map.png"></img>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>