<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Changing path of a river - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/carbon-river-washout-wide-view-2022-08.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Changing path of a river</h1>
            <div id="img-description">
                
                    <p>Over time, the path of Carbon River has changed. River push rocks, soil, and trees into new places. The river can carve out new paths or build up new barriers.</p>
                
                    <p>It's tough to see, but near the upper left you might be able to see a human-made structure called an engineered log jam. It helped prevent erosion near it, but not further down the river where this picture was taken. There is another picture with a closer view of the engineered log jam to explain it more.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Carbon River Entrance</p>
                <p><strong>Visited:</strong> August 15, 2022 at 1:34 PM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>