<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Emmons Glacier - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/burroughs-emmons-glacier-valley.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Emmons Glacier</h1>
            <div id="img-description">
                
                    <p>Emmons Glacier melts and becomes White River.</p>
                
                    <p>You can also see a lake in this valley that is bright blue because of glacial flour.</p>
                
                    <p>Nearby, you can see plants growing on the edge of tundra.</p>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>