<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Engineered log jam - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/carbon-river-engineered-log-jam.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Engineered log jam</h1>
            <div id="img-description">
                
                    <p>An engineered log jam is a human-made structure designed to prevent a river from eroding nearby land.</p>
                
                    <p>If you look closely, you can see logs standing upright. They are actually about halfway buried underground. The red marks show how deep they go. After digging holes and putting the logs in the ground, engineers put more logs on sideways and fill the gaps with rocks and soil.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Carbon River Entrance</p>
                <p><strong>Visited:</strong> August 15, 2022 at 1:34 PM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>