<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Log bridge - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/carbon-river-log-bridge-upstream-2021-09.jpg"></img>
        </div>
        <h1>Log bridge</h1>
        <div id="img-description">
            
                <p>This is a log bridge for hikers to cross the river. There is a hand rail to make it easier to walk on. Even though it is made out of a tree trunk, it is long enough that it bounces when you walk over it.</p>
            
                <p>This picture was taken on a hot day, so the river had more water flowing because of melting glacier ice. There is some water splashing onto the bridge!</p>
            
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>