<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Marmot running - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/paradise-marmot-running-2022-09.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Marmot running</h1>
            <div id="img-description">
                
                    <p>This is a marmot. Marmots are closely related to squirrels. They are very furry and about the size of a cat.</p>
                
                    <p>They eat plants, bask on sunny rocks, and dig burrows to live in. They live on the mountain all year and hibernate when the ground is covered with snow.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Paradise</p>
                <p><strong>Visited:</strong> September 17, 2022 at 9:09 AM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>