<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Emmons Glacier and White River - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/burroughs-emmons-glacier.jpg"></img>
        </div>
        <h1>Emmons Glacier and White River</h1>
        <div id="img-description">
            
                <p>Nearby, you can see small plants growing on the edge of a tundra area. In the distance, you can see Emmons Glacier, the beginning of White River, and a bright blue glacial lake.</p>
            
                <p>Glacial lakes are often this color because of tiny pieces of rock and sand eroded by the glacier, called glacial flour.</p>
            
                <p>You can see how the river has eroded a path through the valley.</p>
            
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>