<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Meadow and cabin - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/indian-henry-wildflowers-and-cabin.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Meadow and cabin</h1>
            <div id="img-description">
                
                    <p>This is a beautiful subalpine meadow with wildflowers blooming.</p>
                
                    <p>In the distance, you can see a ranger cabin. Hikers are not allowed to stay here. This spot is so far away from where cars can go that rangers will stay here to keep nearby people safe.</p>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>