<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Carbon Glacier - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/carbon-river-glacier-2022-08.jpg"></img>
        </div>
        <h1>Carbon Glacier</h1>
        <div id="img-description">
            
                <p>This is the end of Carbon Glacier. It is dark on top because of rocks and soil that have fallen down onto it from the hills on either side of it.</p>
            
                <p>This is the starting point of Carbon River. Water flows as the glacier ice melts. Melting also releases rocks that were frozen in the glacier. Over a long time, the river pushes those rocks downstream.</p>
            
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>