<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Two-part log bridge - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/carbon-river-two-part-log-bridge-2022-08.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Two-part log bridge</h1>
            <div id="img-description">
                
                    <p>This log bridge started with just one log, but erosion made the river so wide that the log bridge fell into the water! Rangers found another log to lean it against, so now this log bridge is made out of two logs.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Carbon River Trail</p>
                <p><strong>Visited:</strong> August 14, 2022 at 11:32 AM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>