<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pieces of rock columns that broke off - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/south-puyallup-fallen-rock-pieces.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Pieces of rock columns that broke off</h1>
            <div id="img-description">
                
                    <p>The column pieces tumbled to the bottom of the hill after they broke off.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Visited:</strong> September 3, 2022 at 9:38 AM</p>
                <p><strong>Location:</strong> Wonderland Trail/South Puyallup Camp</p>
                
                <img class="map" src="../../maps/south-puyallup-fallen-rock-pieces.jpg_map.png"></img>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>