<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rock columns with plants growing above and below - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/south-puyallup-columns-wide-view.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Rock columns with plants growing above and below</h1>
            <div id="img-description">
                
                    <p>These rock columns were formed thousands of years ago when lava erupted and cooled. The lava shrank and cracked as it cooled down, forming rock columns shaped like hexagonal prisms.</p>
                
                    <p>Columns become bent or curved if they cool unevenly. They may have been in contact with ice or water.</p>
                
                    <p>Basalt columns are the most famous type, but these are actually made of a similar rock called andesite that is common on Mt. Rainier.</p>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>