<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Meadow and creek during fall - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/summerland-creek.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Meadow and creek during fall</h1>
            <div id="img-description">
                
                    <p>Flowers stop blooming in this spot when summer ends. You can see a creek running through this meadow.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> White River Entrance/Summerland</p>
                <p><strong>Visited:</strong> September 23, 2022 at 10:40 AM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>