<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fallen tree with ferns growing on it - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/carbon-river-tree-ferns.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Fallen tree with ferns growing on it</h1>
            <div id="img-description">
                
                    <p>This fallen tree was broken down by moisture, insects, bacteria, and fungi. Now it is a habitat for ferns and provides nutrients for the temperate rainforest.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Visited:</strong> August 15, 2022 at 1:35 PM</p>
                <p><strong>Location:</strong> Carbon River Road</p>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>