<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Foggy meadow - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/spray-park.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Foggy meadow</h1>
            <div id="img-description">
                
                    <p>Through the fog, you can barely see Mt. Rainier. There are wildflowers growing in this meadow.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Mowich Lake/Spray Park</p>
                <p><strong>Visited:</strong> August 20, 2022 at 11:31 AM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>