<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Small patch of snow in tundra - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/panhandle-gap-tundra.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Small patch of snow in tundra</h1>
            <div id="img-description">
                
                    <p>Most of the year, this area is covered in snow. In late September, this is the only small patch of snow that hikers have to cross. Not very difficult!</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> White River Entrance/Panhandle Gap</p>
                <p><strong>Visited:</strong> September 23, 2022 at 12:08 PM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>