<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Road erosion in summer 2022 - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/carbon-river-washout-2022-08.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Road erosion in summer 2022</h1>
            <div id="img-description">
                
                    <p>Cars can't go past the Carbon River Entrance at Mt. Rainier anymore because of erosion. The road was built near the river,  and over a few years, the river has carried away so much soil under the road that it has been destroyed.</p>
                
                    <p>This picture is good to compare to the picture of the same spot from summer 2021. A year before this picture was taken, there was still some road in this spot, but it was halfway gone.</p>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>