<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tundra sign with no erosion - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/burroughs-sign-erosion-leeward.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Tundra sign with no erosion</h1>
            <div id="img-description">
                
                    <p>This sign tells people about tundra. On the other side of the hill, where there is a lot more wind, there is a sign with the same words that has been eroded.</p>
                
                    <p>The sign says:</p>
                
                    <p>Burroughs Mountain</p>
                
                    <p>You are entering a unique area of alpine tundra. Please stay on the trail and do not move rocks. The soil and vegetation are fragile and easily eroded. This area is similar to the tundra zone in the arctic regions of the world.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Sunrise/Burroughs Mountain</p>
                <p><strong>Visited:</strong> August 27, 2021 at 5:59 PM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>