<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wildflowers and creek - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/sunrise-berkeley-park-creek-and-wildflowers.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Wildflowers and creek</h1>
            <div id="img-description">
                
                    <p>A small creek is running through this beautiful wildflower meadow.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Location:</strong> Sunrise/Berkeley Park</p>
                <p><strong>Visited:</strong> August 11, 2022 at 11:22 AM</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>