<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Road erosion - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered">Tahoma Science</p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/tahoma-road-and-creek.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Road erosion</h1>
            <div id="img-description">
                
                    <p>Tahoma Creek has moved very near to Westside Road. The water has eroded part of the road. It is not safe for cars anymore.</p>
                
                    <p>Many years ago, cars were allowed to drive on Westside Road. Today, only hikers and bike riders are allowed.</p>
                
                    <p>In winter, the road is covered in snow and very popular for skiing and snowshoeing.</p>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>