<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Car bridge over Fryingpan Creek - Tahoma Science</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="../../site.css">
</head>
<body>
    <div id="header">
        <p class="centered"><a href="../../explore">Tahoma Science</a></p>
    </div>
    <div id="content">
        <div id="img-container">
            <img src="../../images/white-river-fryingpan-creek-bridge.jpg"></img>
        </div>
        <div id="img-text">
            <h1>Car bridge over Fryingpan Creek</h1>
            <div id="img-description">
                
                    <p>This bridge is for cars. It was built over 90 years ago and only designed to last 75 years. It gets inspected frequently to make sure it's still safe to drive over. Engineers are currently working on plans to replace it.</p>
                
            </div>
            <div id="img-metadata">
                <p><strong>Visited:</strong> September 23, 2022 at 8:42 AM</p>
                <p><strong>Location:</strong> White River Entrance</p>
                
                <img class="map" src="../../maps/white-river-fryingpan-creek-bridge.jpg_map.png"></img>
                
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>&#169; 2022 Bethany Long</p>
            <p>Teachers and students are welcome to use these images freely.</p>
        </div>
    </footer>
</body>
</html>